doctype html
html(lang="en")
    head
        title World of Warcraft Trivia
    body
        header
            h1 World of Warcraft Trivia
        section#content
            h2= prompt
            if hint
                p
                    i Hint: #{hint}
            else
                p (There is no hint.)
        footer
            p Think you have 1337 lore knowledge? See if you are a ture Loremaster!
        