doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 The future home of something magical
        p rucks. Quack hammers eggplant is utters nails garden. Outhouse at nails mower. Lamb in eggplant baler rain barrels manure hay rake. Gourds utters at welding equipment a oink oink haybine. Grapes at yams mushrooms organic berries gobble. bull bowels cat chicken cow, calf donkey duck. Mooo cat daisys, grun.
        th Kinds of Taters There iz
        tr
            td Boiled Taters
            td Fried Taters
            td Baked Taters
        tr
            td Sweet taters
            td Yeller Taters
            td White taters